<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/skeleton.css" />
    <link rel="icon" href="#" />
    <title>Stock Portfolio</title>
  </head>
  
  <body>
	<nav>
      <ul>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/transactions">Transaction History</a></li>
        <li><a href="/sign-up">Sign Up</a></li>
        <li><a href="/log-in">Log In</a></li>
      </ul>
    </nav>