<%- include('documentHead') -%>
<%- include('header') -%>
<main>
  <h4>Don't have an account yet? <a href="/sign-up">Sign up!</a></h4>
  <section class="form">
    <form>
      <fieldset>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>

        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>

        <input type="submit" value="Log In" class="button-primary"
        formmethod="#" formaction="#">
      </fieldset>
    </form>
  </section>
</main>
<script type="text/javascript" src="javascripts/login.js"></script>
<%- include('documentTail') -%>
