<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/normalize.css" />
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/skeleton.css" />
    <link rel="icon" href="#" />
    <title>Portfolio</title>
  </head>
  <body>
  	<main>
  		<section class="form"></section>
  		<form>
	<fieldset>
		<label for="tickerInput">Ticker</label>
		<input type="text" name="ticker" id="tickerInput">

		<label for="sharesInput">Shares</label>
		<input type="number" name="shares" id="sharesInput">

		<input type="submit" value="Buy Shares">
	</fieldset>
</form>
  	</main>
    
<a href="https://iexcloud.io">Data provided by IEX Cloud</a>
  </body>
</html>


