<%- include('header') -%>
<main>
  <section class="form">
    <form>
      <fieldset>
        <label for="tickerInput">Ticker</label>
        <input type="text" name="ticker" id="tickerInput">

        <label for="sharesInput">Shares</label>
        <input type="number" name="shares" id="sharesInput">

        <input type="submit" value="Buy Shares" class="button-primary">
      </fieldset>
    </form>
  </section>
</main>
<%- include('footer') -%>