<%- include('documentHead') -%>
<%- include('header') -%>
<main>
  <section>
    <h2>Balance: $<span id="uiBalance"></span> USD</h2>
    <form id="buySharesForm">
      <fieldset>
        <label for="tickerInput">Ticker</label>
        <input type="text" name="ticker" id="tickerInput">

        <label for="sharesInput">Shares</label>
        <input type="number" name="shares" id="sharesInput" min="1" max="50">

        <input type="submit" value="Buy Shares" class="button-primary">
      </fieldset>
    </form>
  </section>
  <section>
    <h2>Owned Stocks</h2>
    <table>
      <thead>
        <tr>
          <th>Ticker</th>
          <th>Shares Owned</th>
          <th>Current Price</th>
        </tr>
      </thead>
      <tbody id="portfolio"></tbody>
    </table>
  </section>
</main>
<script type="text/javascript" src="javascripts/portfolio.js"></script>
<%- include('footer') -%>
<%- include('documentTail') -%>
