<%- include('documentHead') -%>
<%- include('header') -%>
<main>
  <h2>Sign Up</h2>
  <p>Create a free account to <span class="feature">buy stocks</span>, <span class="feature">visualize</span> their performance, and keep an auditable <span class="feature">transaction history</span>.</p>
    <form>
      <fieldset>
        <label for="name">Name</label>
        <input type="text" name="name" id="name">

        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>

        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>

        <label for="address">Address</label>
        <input type="text" name="address" id="address">

        <input type="submit" value="Sign Up" class="button-primary"
        formmethod="#" formaction="#">
      </fieldset>
    </form>
</main>
<script type="text/javascript" src="javascripts/signup.js"></script>
<%- include('documentTail') -%>
